<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499732426438-52fvihl9c63c1oub772bpivsmdfp5kfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499732426438-52fvihl9c63c1oub772bpivsmdfp5kfb</string>
	<key>API_KEY</key>
	<string>AIzaSyBSAe4TNFUQ38sEIvNPrhUV5akeFAseKtk</string>
	<key>GCM_SENDER_ID</key>
	<string>499732426438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>global.serendib.mocco</string>
	<key>PROJECT_ID</key>
	<string>mocco-2e40e</string>
	<key>STORAGE_BUCKET</key>
	<string>mocco-2e40e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499732426438:ios:f08991c8c53f0fa6e5f1c7</string>
</dict>
</plist>